@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600|Open+Sans");
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

.hobbies-container {
  opacity: 0;
  background-color: #354f52;
  margin: 4px;
  padding: 8px;
  animation: 0.3s ease-in 0.6s forwards appear; }
  .hobbies-container h3 {
    margin: 8px; }
  .hobbies-container .hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px; }
    .hobbies-container .hobbies .hobby {
      flex: 1;
      margin: 8px;
      max-width: 10rem;
      min-width: 7rem;
      border: 1px solid #52796f;
      border-radius: 4px;
      padding: 8px;
      transition: background-color 0.3s ease; }
      .hobbies-container .hobbies .hobby:hover {
        background-color: #84a98c; }
        .hobbies-container .hobbies .hobby:hover .hobby-image {
          background: #354f52; }
      .hobbies-container .hobbies .hobby p {
        text-align: center; }
      .hobbies-container .hobbies .hobby-image {
        width: 3rem;
        height: 3rem;
        border: 1px solid #cad2c5;
        border-radius: 50%;
        padding: 24px;
        margin: 8px auto;
        background-color: #84a98c;
        opacity: 0.8;
        display: flex;
        align-items: center; }
        .hobbies-container .hobbies .hobby-image img,
        .hobbies-container .hobbies .hobby-image i {
          width: 48px;
          flex: 1;
          font-size: 42px; }
