.my-data {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  .personal-data-div {
    flex: 1;
    margin: 4px;
    animation: all 3s ease-in-out;
  }
}

.example-enter {
  transform: scaleX(0);
  transform-origin: center left;
}

.example-enter-active {
  transform: scaleX(1);
  transition: all 150ms ease;
}

.example-exit {
  transform: scaleX(1);
  transform-origin: center left;
}
.example-exit-active {
  transform: scaleX(0);
  transition: all 150ms ease;
}

.star {
}

.star-enter {
  opacity: 0.01;
}
.star-enter-active {
  opacity: 1;
  transform: translateY(0%) scale(1.25);
  transition: all 300ms ease-out;
}
.star-exit {
  opacity: 1;
  flex: 0.001;
}
.star-exit-active {
  transform: scale(4);
  transition: all 300ms ease-in;
  flex: 0.0001;
}
