@import "../Theme.scss";

.my-data {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  @media screen and (max-width: $large-break) {
    flex-direction: column;
  }

  .personal-data-div {
    margin: 4px;
  }
}
