@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600|Open+Sans");
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

.history-projects {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 1100px) {
    .history-projects {
      flex-direction: column; } }
  .history-projects .projects-container {
    opacity: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #354f52;
    margin: 4px;
    animation: 0.3s ease-in 0.5s forwards appear; }
    .history-projects .projects-container .projects {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap; }
      .history-projects .projects-container .projects a {
        margin: 0;
        text-decoration: none;
        color: #cad2c5;
        overflow: hidden; }
      .history-projects .projects-container .projects .project {
        height: 9rem;
        min-width: 22.5rem;
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        border: 1px solid #52796f;
        border-radius: 4px;
        margin: 8px; }
        .history-projects .projects-container .projects .project div {
          height: 100%;
          display: flex;
          flex-direction: column; }
          .history-projects .projects-container .projects .project div.project-hover {
            background-color: #2f3e46;
            border-radius: 4px;
            overflow: hidden;
            padding: 8px; }
            .history-projects .projects-container .projects .project div.project-hover .project-stack {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              font: 300 13px "Montserrat";
              color: #84a98c; }
              .history-projects .projects-container .projects .project div.project-hover .project-stack img {
                flex: 1;
                max-width: 24px;
                height: 24px;
                margin: 8px 16px; }
              .history-projects .projects-container .projects .project div.project-hover .project-stack p {
                margin-right: 16px; }
          .history-projects .projects-container .projects .project div p {
            margin: 8px; }
  .history-projects .history {
    opacity: 0;
    margin: 4px;
    padding: 24px;
    background: #354f52;
    animation: 0.3s ease-in 0.4s forwards appear; }
    .history-projects .history .timeline {
      display: flex;
      flex-direction: column; }
      .history-projects .history .timeline-header {
        padding: 0px;
        display: flex;
        align-items: center; }
        .history-projects .history .timeline-header h3 {
          flex: 1;
          text-align: left;
          font: 400 20px "Open Sans";
          margin: 0;
          margin-left: 12px; }
        .history-projects .history .timeline-header div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0px;
          padding: 4px;
          width: 32px;
          height: 32px;
          border: 1px solid #cad2c5;
          border-radius: 50%; }
      .history-projects .history .timeline-row {
        display: flex;
        flex-direction: row; }
        .history-projects .history .timeline-row .timeline-container {
          width: 42px;
          display: block; }
          .history-projects .history .timeline-row .timeline-container .event-mark {
            position: relative;
            top: -66%;
            margin: auto;
            border-radius: 50%;
            background-color: #cad2c5;
            width: 12px;
            height: 12px; }
          .history-projects .history .timeline-row .timeline-container .line {
            height: 100%;
            width: 1px;
            margin: auto;
            background-color: #cad2c5; }
        .history-projects .history .timeline-row .event {
          flex: 1;
          padding: 8px;
          font: 300 14px "Montserrat"; }
        .history-projects .history .timeline-row .event-header {
          color: #84a98c; }
        .history-projects .history .timeline-row .event-titulo {
          padding: 0 8px;
          font: 600 14px "Montserrat"; }

.project-enter {
  opacity: 0;
  transform: translateY(10rem); }

.project-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-in-out; }

.project-exit {
  opacity: 0.01;
  transform: translateY(-10rem); }

.project-exit-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-out; }
