@import "../Theme.scss";

.history-projects {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $large-break) {
    flex-direction: column;
  }

  .projects-container {
    opacity: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $dark;
    margin: 4px;
    @include appear(0.5s, $animation-duration);

    .projects {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      .project {
        height: 9rem;
        min-width: 22.5rem;
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        border: 1px solid $primary;
        border-radius: 4px;
        margin: 8px;
        @media screen and (max-width: $short-break) {
          min-width: 18.5rem;
        }

        div {
          height: 100%;
          display: flex;
          flex-direction: column;

          &.project-hover {
            background-color: $darkest;
            border-radius: 4px;
            overflow: hidden;
            padding: 8px;

            .project-stack {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              font: 300 13px "Montserrat";
              color: $primary-light;
              img {
                flex: 1;
                max-width: 24px;
                height: 24px;
                margin: 8px 16px;
              }
              p {
                margin-right: 16px;
              }
            }
          }
          p {
            margin: 8px;
          }
        }
      }
    }
  }

  .history {
    opacity: 0;
    margin: 4px;
    padding: 24px;
    background: $dark;
    @include appear(0.4s, $animation-duration);

    .timeline {
      display: flex;
      flex-direction: column;

      &-header {
        padding: 0px;
        display: flex;
        align-items: center;

        h3 {
          flex: 1;
          text-align: left;
          font: 400 20px "Open Sans";
          margin: 0;
          margin-left: 12px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0px;
          padding: 4px;
          width: 32px;
          height: 32px;
          border: 1px solid $light;
          border-radius: 50%;
        }
      }

      &-row {
        display: flex;
        flex-direction: row;

        .timeline-container {
          width: 42px;
          display: block;

          .event-mark {
            position: relative;
            top: -66%;
            margin: auto;
            border-radius: 50%;
            background-color: $light;
            width: 12px;
            height: 12px;
          }

          .line {
            height: 100%;
            width: 1px;
            margin: auto;
            background-color: $light;
          }
        }

        .event {
          flex: 1;
          padding: 8px;
          font: 300 14px "Montserrat";
        }

        .event-header {
          color: $primary-light;
        }

        .event-titulo {
          padding: 0 8px;
          font: 600 14px "Montserrat";
          & a:hover {
            color: $primary;
          }
        }

        .event-descripcion {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          a {
            transition: color 0.2s ease-in-out;
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

.project-enter {
  opacity: 0;
  transform: translateY(10rem);
}
.project-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-in-out;
}

.project-exit {
  opacity: 0.01;
  transform: translateY(-10rem);
}
.project-exit-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-out;
}
