@import "../Theme.scss";

.history-projects {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $large-break) {
    flex-direction: column;
  }

  .projects-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $dark;
    margin: 4px;
    padding: 8px;

    h3 {
      font: 400 24px "Open Sans";
      margin: 8px;
      text-align: center;
    }

    .projects {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      a {
        margin: 0;
        text-decoration: none;
        color: $light;
        overflow: hidden;
      }

      .project {
        height: 9rem;
        min-width: 20rem;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        border: 1px solid $primary;
        border-radius: 4px;
        margin: 8px;

        div {
          height: 100%;
          display: flex;
          flex-direction: column;

          &.project-hover {
            background-color: $darkest;
            border-radius: 4px;
            overflow: hidden;

            .project-stack {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              font: 300 13px "Montserrat";
              color: $primary-light;
              img {
                flex: 1;
                max-width: 24px;
                height: 24px;
                margin: 8px 16px;
              }
              p {
                margin-right: 16px;
              }
            }
          }
          p {
            margin: 8px;
          }
        }
      }
    }
  }

  .history {
    margin: 4px;
    padding: 24px;
    background: $dark;

    .timeline {
      display: flex;
      flex-direction: column;

      &-header {
        padding: 0px;
        display: flex;
        align-items: center;

        h3 {
          flex: 1;
          font: 400 20px "Open Sans";
          margin: 0;
          margin-left: 12px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0px;
          padding: 4px;
          width: 32px;
          height: 32px;
          border: 1px solid $light;
          border-radius: 50%;
        }
      }

      &-row {
        display: flex;
        flex-direction: row;

        .timeline-container {
          width: 42px;
          display: block;

          .event-mark {
            position: relative;
            top: -66%;
            margin: auto;
            border-radius: 50%;
            background-color: $light;
            width: 12px;
            height: 12px;
          }

          .line {
            height: 100%;
            width: 1px;
            margin: auto;
            background-color: $light;
          }
        }

        .event {
          flex: 1;
          padding: 8px;
          font: 300 14px "Montserrat";
        }

        .event-header {
          color: $primary-light;
        }

        .event-titulo {
          padding: 0 8px;
          font: 600 14px "Montserrat";
        }

        .event-descripcion {
        }
      }
    }
  }
}

.project-enter {
  opacity: 0;
  transform: translateY(10rem);
}
.project-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-in-out;
}

.project-exit {
  opacity: 0.01;
  transform: translateY(-10rem);
}
.project-exit-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s ease-out;
}
