@import "../Theme.scss";

.personal-data {
  flex: 2;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: flex-grow 0.2s ease;

  &.collapse {
    flex-grow: 0.005;
  }

  .portrait-name {
    display: flex;
    flex-direction: row;

    .portrait {
      flex: 1 1 8rem;
      max-width: 8rem;
      background: url("../yoni.jpg") no-repeat no-repeat center;
      background-size: cover;
      opacity: 0.5;
    }
    .name {
      flex: 3;
      padding: 16px;
      background-color: $primary;

      h1 {
        font: 600 24px "Montserrat";
        margin: 8px 0 0 8px;
        white-space: nowrap;
      }
      p {
        margin: 8px;
        font: 300 16px "Montserrat";
        white-space: nowrap;
      }

      div {
        margin-top: 16px;
        display: flex;
        white-space: nowrap;
        i {
          margin-right: 8px;
        }
      }
    }
  }

  &-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 8px;
    background-color: $dark;
    p {
      height: 4rem;
    }
  }

  .contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 3rem;
    overflow: visible;

    @media screen and (max-width: $large-break) {
      grid-template-columns: 1fr 1fr;
    }

    .contacto-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px;
      white-space: nowrap;
      font: 300 12px "Montserrat";
      svg,
      i {
        width: 24px;
        margin-right: 12px;
        text-align: center;
        fill: $light;
      }
      a {
        flex: 1;
        text-decoration: none;
        color: $light;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
