@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600|Open+Sans");
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

.personal-data {
  flex: 2;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: flex-grow 0.2s ease; }
  .personal-data.collapse {
    flex-grow: 0.005; }
  .personal-data .portrait-name {
    opacity: 0;
    display: flex;
    flex-direction: row;
    animation: 0.3s ease-in 0s forwards appear; }
    .personal-data .portrait-name .portrait {
      flex: 1 1 8rem;
      max-width: 8rem;
      background: url("../yoni.jpg") no-repeat no-repeat center;
      background-size: cover;
      opacity: 0.5; }
    .personal-data .portrait-name .name {
      flex: 3;
      padding: 16px;
      background-color: #52796f; }
      .personal-data .portrait-name .name h1 {
        font: 600 24px "Montserrat";
        margin: 8px 0 0 8px;
        white-space: nowrap; }
      .personal-data .portrait-name .name p {
        margin: 8px;
        font: 300 16px "Montserrat";
        white-space: nowrap; }
      .personal-data .portrait-name .name div {
        margin-top: 16px;
        display: flex;
        white-space: nowrap; }
        .personal-data .portrait-name .name div i {
          margin-right: 8px; }
  .personal-data-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    background-color: #354f52; }
    .personal-data-section p {
      height: 4rem; }
  .personal-data .contacto {
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: visible;
    padding: 16px;
    animation: 0.3s ease-in 0.2s forwards appear; }
    @media screen and (max-width: 1100px) {
      .personal-data .contacto {
        grid-template-columns: 1fr 1fr; } }
    .personal-data .contacto .contacto-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px;
      white-space: nowrap;
      font: 300 12px "Montserrat"; }
      .personal-data .contacto .contacto-field svg,
      .personal-data .contacto .contacto-field i {
        width: 24px;
        margin-right: 12px;
        text-align: center;
        fill: #cad2c5; }
      .personal-data .contacto .contacto-field a {
        flex: 1;
        text-decoration: none;
        color: #cad2c5;
        transition: color 0.2s ease-in-out; }
        .personal-data .contacto .contacto-field a:hover {
          color: #52796f; }
  .personal-data .about-me {
    opacity: 0;
    animation: 0.3s ease-in 0.4s forwards appear; }
