@import "../Theme.scss";

.skills-container {
  flex: 1;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  padding: 8px;
  overflow: hidden;

  .skills {
    display: flex;
    flex-direction: row;
    height: 100%;
    @media screen and (max-width: $large-break) {
      flex-direction: column;
    }

    .skills-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 16px 32px;
    }
  }

  button {
    border: none;
    background: 0;
    color: $light;
    width: 30%;
    margin: auto;
    padding: 8px;
    outline: none;
    transition: color 0.3s ease;
    &:hover {
      cursor: pointer;
      color: $primary-light;
    }
  }
}

.skills-enter {
  opacity: 0.01;
}
.skills-enter-active {
  opacity: 1;
  transition: all 500ms ease-out;
}

.skills-exit {
  opacity: 0;
}
.skills-exit-active {
  opacity: 1;
  transition: all 500ms ease-out;
}
