@import "./Theme.scss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  color: $light;
  background-color: $darkest;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 8px 8vw;

  .toggle {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    #toggle-lang {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      padding: 0.5rem;
      background-color: $dark;
      border: none;
      margin: 4px 4px 4px 16px;
      color: $light;
      font: 300 14px "Montserrat";
      outline: 0;
      width: 10rem;
      text-align: center;

      &:hover {
        cursor: pointer;
        background-color: $primary;
      }
      p {
        color: $primary;
        flex: 1;
        margin: 0;
        padding: 8px;
      }
      .toggle-switch {
        width: 3.5rem;
        background-color: $primary-light;
        color: $light;
        padding: 0.5rem;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

h3 {
  text-align: left;
  font: 600 22px "Montserrat";
  text-transform: uppercase;
  margin: 8px;
  margin-bottom: 16px;
  white-space: nowrap;
}

.container {
  padding: 16px;
  border-left: 10px solid $primary;
}
