@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600|Open+Sans");
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  color: #cad2c5;
  background-color: #2f3e46; }

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 8px 8vw; }
  .main-container .toggle {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .main-container .toggle #toggle-lang {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      padding: 0.5rem;
      background-color: #354f52;
      border: none;
      margin: 4px 4px 4px 16px;
      color: #cad2c5;
      font: 300 14px "Montserrat";
      outline: 0;
      width: 10rem;
      text-align: center; }
      .main-container .toggle #toggle-lang:hover {
        cursor: pointer;
        background-color: #52796f; }
      .main-container .toggle #toggle-lang p {
        color: #52796f;
        flex: 1;
        margin: 0;
        padding: 8px; }
      .main-container .toggle #toggle-lang .toggle-switch {
        width: 3.5rem;
        background-color: #84a98c;
        color: #cad2c5;
        padding: 0.5rem;
        transition: all 0.3s ease-in-out; }

h3 {
  text-align: left;
  font: 600 22px "Montserrat";
  text-transform: uppercase;
  margin: 8px;
  white-space: nowrap; }

.container {
  padding: 16px;
  border-left: 10px solid #52796f; }
