@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600|Open+Sans");

$primary: #52796f;
$light: #cad2c5;
$darkest: #2f3e46;
$dark: #354f52;
$primary-light: #84a98c;

$large-break: 1100px;
$short-break: 700px;

$animation-duration: 0.3s;

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@mixin appear($delay, $duration) {
  animation: $duration ease-in $delay forwards appear;
}
